<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script src="/js/main.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</body>

</html>